@import '../src/fonts/satoshi.scss';

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../src/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format('truetype'),
       url('../src/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.woff') format('woff'),
       url('../src/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #02070c;
  color: #fff;
  scroll-behavior: smooth !important;
  * , button {
    cursor: none;
    &:hover {
      cursor: none;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overscroll-behavior-y: none;
  margin: 0;
}
.App {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1de; 
  border-radius: 5px;
  margin: 5px ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1515156c; 
  border-radius: 5px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

